<div class="panel panel-default col-lg-6 offset-lg-3 mt-3">
    <div class="panel-heading  border border-dark rounded">
      <h3 class="panel-title text-center mr-3 ">Instrukcja</h3>
    </div>
  
    <div class="panel-body border-bottom border border-dark rounded">
        <div class="form-group col-10 ml-5 mt-4 d-flex justify-content-center">
            <p class="text-justify">
                Instrukcja zawiera informacje na temat aplikacji oraz grawera laserowego. Opisuje w jaki sposób należy
                korzystać z oprogramowania i plotera.
            </p>
        </div>

        <div class="form-group col-10 ml-5 d-flex justify-content-center">
            <a href="#" class="link-primary">Link do instrukcji</a>
        </div>
        
    </div>
</div>