.panel-heading{
    background-color: rgb(227,242,253);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 22px;
}

.panel-body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 19px;
    background-color: white;
}

.img-in-gallery{
    max-height: 300px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}